<style>
    body { font-size: 64px; font-family: ahem; color: transparent; margin-top: 0px; }
    div { outline: 1px dashed green; }
    div > div { outline: initial; background-color: rgba(0, 0, 255, .4); }
</style>
<div style="outline: none;">
    <div style="height: 8px; margin-left: 128px;"></div>
</div>
<div>
    <div style="height: 30px; margin-left: 128px;"></div>
</div>
<div>
    <div style="height: 17px; margin-left: 128px;"></div>
    <div style="height: 47px;"></div>
</div>
<div style="margin-top: -10px; height: 64px;">
    <div style="height: 10px; background-color: transparent;"></div>
    <div style="height: 54px; width: 256px;"></div>
</div>
