/*
 * Copyright (C) 2011 Google Inc. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS''
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */

/*
 * We mostly use the styles from jQuery UI, but we clear some of them to
 * make the UI slightly tighter.
 */

#onebar {
    border: none;
    padding: 0px;
    margin-bottom: 100px;
}

#onebar .ui-widget-header {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
}

#onebar #platform-picker {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    font-size: larger;
}

#unexpected {
    min-height: 550px;
    padding: 0 8px;
}

#onebar.partytime #unexpected {
    background: url(../images/partytime.gif) center center no-repeat;
}

#chromium-gtests iframe {
    border: 0;
    height: 20px;
}

#chromium-gtests {
    position: absolute;
    top: 10px;
    right: 5px;
}

#gtest-label {
    vertical-align: top;
}

#link-handling {
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 4px;
}

#new-window-for-links {
    vertical-align: text-bottom;
}

#onebar details {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    vertical-align: top;
}

#onebar details table, #revisionPopUp table {
    font-size: 11px;
    text-decoration: none;
    border: 1px solid Gray;
    padding: 2px 2px;
}

#revisionPopUp {
    display: none;
}

#revisionPopUp.active {
    background-color: white;
    display: block;
    box-shadow: 2px 2px #ccc;
    z-index: 1;
}

.topbar {
    display: flex;
    align-items: center;
}

.treestatus {
    display: inline-block;
    margin: 4px;
    font-size: 11px;
}
